*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}
html{
  background-color: #f4dbb6;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  left: 50vw;
  width: 100%;
  color: black;
  padding-bottom: 4rem;
}
input {
  font-size: 16px;
}
input::placeholder{
  color: black;
}
.header{
  padding-top: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(203, 129, 37);
}
h1{
  padding: 2rem;
}
#load {
  display: none;
  padding: 1rem;
  position: absolute;
  top: 50vh;
  left: calc(50vw - 32px);
}
input[type='text']{
  width: 200px;
  height: 35px;
  text-align: center;
  background-color: inherit;
  color: black;
  border-color: orange;
  border-style: solid;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input[type='text']:-internal-autofill-selected {
  background-color: inherit;
}
input[type='text']:focus{
  outline: none;
  background-color: inherit;
  color: black;
}
.location{
  background: orange;
  color: black;
  border: none;
  height: 35px;
  width: 35px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
  left: 1rem;
}
button[type='submit'].search{
  right: 1rem;
  height: 35px;
  width: 35px;
  position: relative;
  background-color: orange;
  color: black;
  border-top-right-radius: 1rem ;
  border-bottom-right-radius: 1rem;
  border: none;
}
.weather-item{
  width: 16rem;
}
.rows{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#weatherInfo{
  display: none;
  flex-direction: column;
  margin-top: 5rem;
  text-align: center;
  width: 49%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffffa6;
  border-radius: 1rem;
  min-width: 382px;
}
.weather-item-city{
  font-weight: 800;
  padding-bottom: 1.5rem;
  text-align: center;
}
.local{
  position: absolute;
  top: 0.6rem;
  left: 0.9rem;
}
.weatherInfoContainer{
  display: flex;
  justify-content: center;
}
.itemContainer{
  padding-bottom: 1rem;
  font-size: large;
}
.sunIcon{
  color: orange;
  font-size: 50px;
}
.slow-spin{
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}